.bloc_presentation{
    background-color: rgba(255, 255, 255, 0.9);
    margin-top: 5%;
    margin-left: 14.5%;
    border: 2px solid grey;
    box-shadow: 10px 10px 10px;
    padding: 5%;
    width: 70%;
}
.img_profil{
    width: 30%;
    display: inline-block;
    position: relative;
    margin-left: -55%;
}
.img_profil h1{
    font-size: 2.3em;
}
.img_profil img{
    margin-top: 5%;
    border-radius: 140px;
    padding: 5%;
}

.presentation{
    display: inline-block;
    position: absolute;
    text-align: left;
    width: 40%;
    margin-top: 7%;
}
.btn_lien{
    width: 21%;
    margin-left: 50%;
    padding-top: 2%;
}
.img_lien{
    width: 17px;
    margin-right: 4px;
    padding-bottom: 3px;
}