.app-formation{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 1%;
}

.titre_formation{
  margin-bottom: 3%;
}

.img_calendar_formation {
    width: 20px;
    margin-top: -13px;
    margin-right: 5px;
}

.card-deck{
  margin-right: 0px;
}